// HEADER
.header {
    position: absolute;
    bottom: 15px;
}
#headerStyle {
    background-color: #000000;
    width: 100%;
    height: 100px;
    position: relative;
    display: inline-block;
    
}

#svgAnimation {
    position: relative;
    left: 300px;
    bottom: 90px;
    display: inline-block;
}

// NAVIGATION

h1 {
    padding: 10px 0 0 15px;
    color: #ffffff;
    font-family: 'Dokdo', cursive;
    font-size: 250%;
}

a {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    display: inline-flex;
}

a:hover {
    color: #5b3fa8;
    text-decoration: none;  
}


li {
    list-style-type: none;
    display: inline-flex;
    border-right: 1px solid #ffffff;
    font-family: 'Montserrat', sans-serif;
    
    a{
        font-size: 14px;
        
    }
} 

li:last-of-type {
    border-right: none;
}


